{% extends "base.html" %}
{% load static %}
{% load gdm_extra %} 

{% block sidebar %}

    {% if conexao.conectado|is_conected %}
      <h4>Sua conexão atual <a class="alterar" id="alterarConexao">Alterar</a></h4>
      <p>Database: {{conexao.database}}</p>
      <p>User: {{conexao.user}}</p> 
      <p>Host: {{conexao.host}}</p>
    {% endif %}
    
    <br />    

    <h4>Projetos</h4>
    <ul class="nav nav-sidebar">
      {% if user %} 
        {% for projeto in user.projeto_set.all %}
            <li>
              <a href="{% url 'sistema:consultas' projeto.id %}">
                {{ projeto }}
              </a> 
            </li>
        {% endfor %} 
      {% else %}
        <li>Projetos</li>
      {% endif %}
    </ul>
 
{% endblock %}

{% block content %}
  <div id="content">

    <h2>Projetos {{ user.projeto_set.first }}</h2>

    <div class="consultas">
      {% for consulta in user.projeto_set.first.consulta_set.all %}
        <li>
        {{ consulta }}
        </li>
      {% endfor %}
    </div>

    <div class="mapa">
      MAPA
    </div>

  </div> 


  {% include "sistema/modal_conexao.html" %} 
  {% include "sistema/modal_consulta.html" %} 
  
  <script type="text/javascript">var CONECTADO = "{{ conexao.conectado }}" ;</script>
  <script src="{%  static 'sistema/js/projetos.js' %}"></script>   
{% endblock %}