{% extends "base.html" %}

{% block title-sidebar %}Projetos{% endblock %}

{% block sidebar %}
    {% if user %} 
      {% for projeto in user.projeto_set.all %}
          <li>
            <a href="{% url 'sistema:consultas' projeto.id %}">
              {{ projeto }}
            </a>
          </li>
      {% endfor %} 
    {% else %}
      <li>Projetos</li>
    {% endif %}
{% endblock %}

{% block content %}
  <div id="content">
    <h2>Projetos {{ user.projeto_set.first }}</h2>
    <div class="consultas">
      {% for consulta in user.projeto_set.first.consulta_set.all %}
        <li>
        {{ consulta }}
        </li>
      {% endfor %}
      <div class="mapa">
        MAPA
      </div>
    </div>
  </div>
{% endblock %}